apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: xenforo
spec:
  rules:
  - host: <%= _ingressHost %>
    http:
      paths:
      - path: /data
        backend:
          serviceName: ftp
          servicePort: 80
      - backend:
          serviceName: xenforo
          servicePort: 80
