apiVersion: v1
kind: Service
metadata:
  name: xenforo
spec:
  ports:
  - port: 80
    targetPort: 80
  selector:
    app: xenforo
---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: xenforo
spec:
  replicas: 2
  template:
    metadata:
      labels:
        app: xenforo
    spec:
      initContainers:
      - name: git-checkout
        image: alpine/git
        envFrom:
        - configMapRef:
            name: env
        command:
        - /bin/sh
        - -c
        - |
          set -euo pipefail

          cd /data-volume
          mkdir -p -m 0777 ./data
          mkdir -p -m 0777 ./internal_data

          cd /src-volume
          mkdir ./xenforo2 && cd ./xenforo2
          git init .
          git remote add origin <%= _XENFORO2_REPO %>
          git fetch --depth 1 origin 2.1.6
          git checkout FETCH_HEAD

          cd /src-volume
          mkdir ./self && cd ./self
          git init .
          git remote add origin <%= _SELF_REPO %>
          git fetch --depth 1 origin <%= _CI_COMMIT_SHA %>
          git checkout FETCH_HEAD

          cd /src-volume
          cp -R ./xenforo2/xenforo ./xenforo
          cp ./self/_files/ci/config.php ./xenforo/src/config.php

          mkdir ./xenforo/src/addons/Xfrocks
          cp -R ./self ./xenforo/src/addons/Xfrocks/K8s

          # 33 is `www-data` uid/gid in php-apache
          chown -R 33:33 ./xenforo
        volumeMounts:
        - name: data-volume
          mountPath: /data-volume
        - name: src-volume
          mountPath: /src-volume
      - name: xf-init
        image: xfrocks/xenforo:php-apache-7.3.12c
        envFrom:
        - configMapRef:
            name: env
        command:
        - runuser
        - --user
        - www-data
        - --preserve-environment
        - --
        - /bin/sh
        - -c
        - |
          set -e

          export USER=www-data
          export HOME=/var/www/html
          cd $HOME

          (cd ./src/addons/Xfrocks/K8s && composer install)

          if php cmd.php k8s:regenerate-code-cache; then
            php cmd.php xf-dev:import --addon=Xfrocks/K8s
            exit 0
          fi

          php cmd.php xf:install \
            "--title=<%= _ingressHost %>" \
            "--email=<%= _XENFORO_ADMIN_EMAIL %>" \
            "--password=<%= _XENFORO_ADMIN_PASSWORD %>" \
            "--user=<%= _XENFORO_ADMIN_USER %>" \
            "--url=<%= _XENFORO_URL %>" \
            --skip-statistics

          php cmd.php xf-addon:install --no-interaction Xfrocks/K8s
        volumeMounts:
        - name: src-volume
          mountPath: /var/www/html
          subPath: xenforo
        - name: data-volume
          mountPath: /var/www/html/data
          subPath: data
        - name: data-volume
          mountPath: /var/www/html/internal_data
          subPath: internal_data
      containers:
      - name: php
        image: xfrocks/xenforo:php-apache-7.3.12c
        envFrom:
        - configMapRef:
            name: env
        ports:
        - containerPort: 80
        volumeMounts:
        - name: src-volume
          mountPath: /var/www/html
          subPath: xenforo
        - name: data-volume
          mountPath: /var/www/html/data
          subPath: data
        - name: data-volume
          mountPath: /var/www/html/internal_data
          subPath: internal_data
      volumes:
      - name: data-volume
        emptyDir: {}
      - name: src-volume
        emptyDir: {}
